body {
    background-color: #E8E1DB;
}

.main {
    color: white;
    position: relative;
    min-height: 200vh;
}
.content {
    min-height: 100%;
    color: #013500;
}
.nav {
    text-align: center;
    background-color: #013500;
    position: relative;
    height: 58px;
    display: flex;
    justify-content: center;
}

.center_nav_elements {
    position: absolute;
    display: inline-block;
    align-items: center;
    margin-left: auto;
}

.nav_header {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.nav_header:hover {
    color: #A1A1A1;
    text-decoration: none;
}

.right_nav_elements {
    position: absolute;
    right: 0px;
    display: inline-block;
}

.login_register_buttons {
    padding: 10px;
}

.profile_image {
    object-fit: none;
}

/* footer style */

.footer {
    color: white;
    background-color: #013500;
    width: 100%;
    clear: both;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
}

.footer_element {
    text-align: center;
}

.footer > .footer_element:first-of-type {
    padding-top: 15px;
}

.footer_element_data {
    color: white;
    display:inline-block;
    margin-left: 5px;
}

.footer_element_title {
    display:inline-block;
    margin-right:10px;
}

.footer_element a:hover {
    color: #A1A1A1;
    text-decoration: none;
}
