body {
    background-image: url('/static/img/background image.jpg');
    background-size: cover;
}

.main {
    color: white;
    position: relative;
}

.footer_element {
    display: flex;
    justify-content: space-between;
}

.rightnavelems {
    right: 0px;
    background-color: #2C3033;
    opacity: 50%;
    display: inline-block;
    width: 100%;
}

footer {
    background-color: #17263C;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer_element #contacts {
    color: #FFFFFF;
}

.footer_element #phone_number {
    color: #FFFFFF;
}

#contacts {
    display:inline-block;
    margin-right:10px;
}

#phone_number {
    display:inline-block;
}

.t{
    color: #17263C;
}