.index_header {
    text-align: center;
}

.all_recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* Ширина каждого столбца - 30% */
    gap: 30px; /* Отступ между блоками */
}

.recipe {
    background-color: #2C3033;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
}

.recipe_img {
    display: flex;
    justify-content: center;
}

.recipe-title {
    color: white;
}

.recipe-title a {
    color: white;
}

.recipe-title a:hover {
    color: #A1A1A1;
    text-decoration: none;
}