<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}{% endblock %}
    <title>{{title}}</title>
</head>
<body>
<div class="main">
<header>
    <nav>
        <div class="nav">
            <div class="center_nav_elements">
                <a class="nav_header" href="/">Обмен рецептами</a>
            </div>
            <div class="right_nav_elements">
                {% if current_user.is_authenticated %}
                    <a class="nav a" href="/profile">
                        <img class="profile_image" src="{{ url_for('static', filename='img/profile.png') }}" alt="">
                    </a>
                {% block nav_buttons %}{% endblock %}
                {% else %}
                    <div class="login_register_buttons">
                        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                        <a class="btn btn-success" href="/login">Войти</a>
                    </div>
            </div>
            {% endif %}
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<div class="before_footer"></div>
<footer>
    <div class="footer">
        <div class="footer_element">
            <p id="contacts">Наши контакты</p>
            <a class="phone_number" href="tel:+79527757028">+7-952-775-70-28</a>
            <a class="phone_number" href="tel:88002233222">8(800)223-32-22</a>
        </div>
    </div>
</footer>
</div>
{% block scripts %}{% endblock %}
</body>
</html>